# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# data
data/raw/*
data/labels/*
data/segments/*
data/spectrograms/*

# keep folder structure
!data/raw/.gitkeep
!data/labels/.gitkeep
!data/segments/.gitkeep
!data/spectrograms/.gitkeep

# PAMGuard / temp / db
*.sqlite3
*.db
*.bak
*.tmp